<?xml version="1.0"?>
    <configuration>
        <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".gif" mimeType="image/gif" />
            <mimeMap fileExtension=".txt" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>